/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f1a6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s; /* Smooth transition for background color */
}

.stopwatch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fd4242;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.laps {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #0e0d0d;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.laps h2 {
    margin: 0 0 10px;
}

.lap-headings {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

#laps {
    list-style-type: none;
    padding: 0;
}

#laps li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 5px 0;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ff7300;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #7eceeb;
}

button:disabled {
    background-color: #f8f1a6;
    cursor: not-allowed;
}
